<div class="create-idea">
  <div class="create-space">
    <h2>Title</h2>
    <textarea class="create-title" contenteditable="true">

    </textarea>
    <h2>Body</h2>
    <textarea class="create-body" contenteditable="true">

    </textarea>
    <button class="btn btn-success" type="button" id="save-idea">Save</button>
  </div>
</div>
